*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(10, 9, 9);
}
.container
{
    position: relative;
    height: 425px;
    border-bottom: 2px solid rgba(rgb(240, 233, 233), rgb(106, 159, 189), rgb(127, 127, 201), alpha);
}
.cloud{
    position: relative;
    width: 350px;
    height: 120px;
    background-color: white;
    border-radius: 100px;
    top: 70px;
}
.cloud::before
{
    content: '';
    position: absolute;
    top: -50px;
    left: 60px;
    width: 110px;
    height: 110px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 90px 0 0 30px white;
}
.rain{
    display: flex;
    position: relative;
    z-index: 1;
    padding: 0 20px;
}
.rain span{
    position: relative;
    background-color: rgb(222, 222, 231);
    width: 4px;
    height: 9px;
    right: -25px;
    bottom: -75px;
    margin: 0 2px;
    border-radius: 80%;
    animation: animate 5s linear infinite;
    animation-duration: calc(15s / var(--i));
    transform-origin: bottom;
}
@keyframes animate
{
    0%
    {
        transform: translateY(0) scale(1);
    }
    70%
    {
        transform: translateY(225px) scale(1);
    }
    100%
    {
        transform: translateY(275px) scale(0);
    }
}